@bgcolor: #E5E5E5;
@labelcolor: rgba(0, 0, 0, 0.6);
@linkcolor: #0055FB;
@errorcolor: #FF6666;
@successcolor: #03A100;
@dndbordercolor: #CCC; // 1px dashed
@bordercolor: #DDDDDD;
@formcolor: #fff;
@formwidth: 740px;
@formpadding: 30px;
/* button 140x40 + borderradius
 normal: { background: linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4; }
 hover: { background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4;}
 active: { background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%), #C4C4C4; }
 disable: { background: linear-gradient(0deg, #C4C4C4, #C4C4C4), linear-gradient(180deg, #45A6FF 0%, #0055FB 100%); }
*/
@base: ~"(min-width: 800px)";
@borderradius: 5px;
.textInput {
  width: 100%;
  box-sizing: border-box;
  color: #000;
  border-radius: @borderradius;
  border-color: @bordercolor;
  border-style: solid;
  border-width: 1px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-size: 1em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Text", "Roboto", sans-serif;
  background: @bgcolor;

  &-inner {
    flex: 1 0 auto;

    @media @base {
      width: @formwidth;
      margin-left: calc((100% - (@formwidth + 2 * @formpadding)) / 2);
    }
  }

  &-header {
    height: 120px;
  }

  &-form {
    position: relative;
    background-color: @formcolor;
    padding: @formpadding;

    @media @base {
      margin-left: -@formpadding;
      padding: @formpadding;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: @borderradius;
    }
  }

  &-label {
    display: block;
    line-height: 1.25em;
    color: @labelcolor;
  }

  &-textInput {
    font-size: 1.125em;
    line-height: 1.875em;
    .textInput();

    &-half {
      width: 50%;
      border-radius: @borderradius 0 0 @borderradius;

      & + .App-textInput-half {
        border-radius: 0 @borderradius @borderradius 0;
        border-left-color: #fff;
      }
    }
  }

  &-textArea {
    .textInput();
    resize: vertical;
  }

  &-messages {
    padding: 0 @formpadding;
    @media @base {
      padding: 0;
    }
  }

  &-fileUploadButton {
    display: block;
    cursor: pointer;
    color: @linkcolor;

    &_hidden {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
  }

  &-attachmentContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-attachment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(50% - 4px);
    height: 40px;
    border-radius: @borderradius;
    border: 1px solid @bordercolor;
    box-sizing: border-box;

    &-label {
      align-self: center;
      padding-left: 36px;
    }

    &-deleteButton {
      align-self: center;
      color: @errorcolor;
      cursor:pointer;
    }

    &-iconAttach {
      transform: scaleX(-1) rotate(45deg);
      &_large {
        position: absolute;
        margin-top: -8px;
        margin-left: -32px;
        color: @dndbordercolor;
      }
    }
    &-iconDelete {
    }
  }

  &-dnd {
    &Overlay {
      position: absolute;
      border: dashed @dndbordercolor 1px;
      background-color: rgba(255,255,255,.8);
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      z-index: 1;

      &_hidden {
        display: none;
      }

      &-inner {
        position: absolute;
        top: 45%;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 1;
      }
    }
  }

  h1 {
    font-size: 2em;
  }
  h2 {
    margin: 0;
    font-size: 1.875em;
    line-height: 2.5em /* 40px */;
  }
  h3 {
    font-size: 1.5em /* 24px */;
    line-height: 1.875em;
  }
  p {}
  .MuiSvgIcon-fontSizeSmall {
   font-size: 1rem;
    position: relative;
    top: 1px;
    left: 2px;
  }
  .MuiSvgIcon-fontSizeLarge {
   font-size: 1.9rem;
  }
}